<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/header}"></head>
<body class="container mt-5">

<h2 class="mb-4">Actualizar Rol Usuario</h2>

<form th:action="@{/actualizarRolUsuario/{id}(id=${usuario.id})}" method="post">
  <input type="hidden" name="_method" value="put">

  <div class="form-group">
    <label for="username">Nombre de usuario:</label>
    <input type="text" class="form-control" id="username" name="username" th:value="${usuario.username}" required disabled>
  </div>

  <div class="form-group">
    <label for="rol">Rol:</label>
    <select class="form-control" id="rol" name="rol" required onchange="toggleInputs()">
      <option value="ROL_ADMIN" th:selected="${usuario.rol == 'ROL_ADMIN'}">ROL_ADMIN</option>
      <option value="ROL_LECTURA" th:selected="${usuario.rol == 'ROL_LECTURA'}">ROL_LECTURA</option>
      <option value="ROL_ARTISTA" th:selected="${usuario.rol == 'ROL_ARTISTA'}">ROL_ARTISTA</option>
    </select>
  </div>

  <!-- Inputs adicionales para ROL_ARTISTA -->
  <div class="form-group" id="nacionalidadGroup" style="display: none;">
    <label for="nacionalidad">Nacionalidad:</label>
    <input type="text" class="form-control" id="nacionalidad" name="nacionalidad" required>
  </div>
  <div class="form-group" id="fechaNacimientoGroup" style="display: none;">
    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" min="1970-01-01" max="3000-12-31" required>
  </div>
  <div class="form-group" id="emailGroup" style="display: none;">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>

  <br>

  <button type="submit" class="btn btn-primary">Actualizar Usuario</button>
</form>

<!-- Script para mostrar/ocultar inputs adicionales cuando se selecciona ROL_ARTISTA -->
<script th:inline="javascript">
  function toggleInputs() {
    const rol = document.getElementById("rol").value;
    const fields = ["nacionalidad", "fechaNacimiento", "email"];

    fields.forEach(field => {
      const group = document.getElementById(`${field}Group`);
      const input = document.getElementById(field);
      const esArtista = rol === "ROL_ARTISTA";

      group.style.display = esArtista ? "block" : "none";
      input.required = esArtista;
    });
  }

  window.onload = function() {// Verificar el rol seleccionado al cargar la página
    toggleInputs();
  }
</script>

<div th:replace="~{fragments/footer}"></div>
</body>
</html>