<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header}"></head>
<body class="container mt-5">

<h2 class="mb-4">Lista de Álbumes</h2>

<table class="table table-bordered">

    <div hidden="hidden">
        USUARIO AUTENTICADO:
        <div sec:authentication="principal.username"></div>
        <br>
        ROLES DEL USUARIO AUTENTICADO:
        <div sec:authentication="principal.authorities"></div>
        <br>
    </div>

    <thead>
    <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Genero</th>
        <th>Fecha de Estreno</th>
        <th>Artista</th>
        <th>Canciones</th>
        <th sec:authorize="hasAuthority('ROL_ADMIN')">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album : ${albumes}">
        <td th:text="${album.id}"></td>
        <td th:text="${album.titulo}"></td>
        <td th:text="${album.genero}"></td>
        <td th:text="${album.fechaEstreno}"></td>

        <td th:text="${userService.obtenerUsuarioPorArtista(album.artista).nombre +' '+
            userService.obtenerUsuarioPorArtista(album.artista).apellido}">
        </td>

        <td>
            <ul>
                <li th:each="cancion : ${album.getCanciones()}" th:text="${cancion.nombre}"></li>
            </ul>
        </td>
        <!--Botones de eliminar y actualizar album-->
        <td sec:authorize="hasAuthority('ROL_ADMIN')">
            <button th:onclick="'eliminarAlbumConfirmacion('+${album.id}+');'" class="btn btn-danger">Eliminar</button>
            <a th:href="@{/actualizarAlbum/{id}(id=${album.id})}" class="btn btn-warning">Actualizar</a>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function eliminarAlbumConfirmacion(id) {
        Swal.fire({
            title: '¿Desea eliminar la album seleccionada?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = '/eliminarAlbum/' + id;
            }
        });
    }
</script>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>