<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/header}"></head>
<body class="container mt-5">

<h2>Lista de Canciones Disponibles</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Duración</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="cancion : ${canciones}">
          <td th:text="${cancion.id}"></td>
          <td th:text="${cancion.nombre}"></td>
          <td th:text="${cancion.duracion}"></td>
      </tr>
    </tbody>
</table>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>